body {
  font-size: 18px;
  background-color: #efefef;
  font-family: "Trip Sans Reg" sans-serif;
}

/* .regular {
  font-family: "Trip Sans Reg";
}

.medium {
  font-family: "Trip Sans Med";
} */

.container1 {
  border: 1px dashed black;
  width: 1024px;
  height: 50;
  margin: auto;
  display: flex;
  flex: 1;
}

.site-logo {
  object-fit: contain;
  flex: 1;
  border: 1px dashed red;
  margin-right: 25px;
  width: 200px;
}

.header-searchbar {
  display: flex;
  flex: 3;
  border: #8a98b1 solid 2px;
  border-radius: 25px;
  color: #efefef;
  box-sizing: border-box;
  /* margin-right: 100px; */
  align-items: center;
}

.links {
  justify-content: flex-end;
  flex: 3;
  display: flex;
  border: dashed red 2px;
}

.links ul {
  display: flex;
  flex: 1;
  justify-content: center;
}

.links ul li {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  border: dashed blue 2px;
}

.links ul li:last-child {
  flex: 2;
  border-radius: 20px;
  background-color: black;
  color: #efefef;
}
